@charset "utf-8";


div.twobutton {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* 調整你想要的高度 */
  left: 50%;
  margin-left: -50vw;
  
  background-image: url("../img/project3-3.jpg");
  /* ← 放你的背景圖 */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  gap: 8px;
  /* background-color: rgb(90, 255, 227);
  
height: 800px;
width: 100%;
*/

  position: relative;
}




.button {
  background-color: #ff7729;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 6px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button1 {
  border-radius: 2px;
}

.button2 {
  border-radius: 4px;
}

.button3 {
  border-radius: 8px;
}

.button4 {
  border-radius: 8px;
}

.button5 {
  border-radius: 50%;
}

b:hover,
b:active {
  background-color: rgb(235, 104, 17);
  color: white;
}







* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

section {
  margin: 20px 0;
}

ul {
  list-style: none;
}

.wrap {
  margin: 50px;
}

.flex li {
  display: inline-block;
  padding: 20px;
  border: 1px solid #e7e7e7;
  background: #505050;


}




.flex {
  display: inline-block;
}


.no7 .flex li:nth-child(1) {
  align-self: stretch;
}

.no7 .flex li:nth-child(2) {
  align-self: flex-start;
}

.no7 .flex li:nth-child(3) {
  align-self: flex-end;
}

.no7 .flex li:nth-child(4) {
  align-self: center;
}

.no7 .flex li:nth-child(5) {
  align-self: baseline;
}