@charset "utf-8";

h3{
   text-align: center;
   align-items: center;
  font-size: 30px;}

h2{
   text-align: center;
   align-items: center;
  font-size: 50px;}

div.twobutton {
  
  width: 100vw;
  height: 100vh;
  /* 調整你想要的高度 */
  left: 50%;
  margin-left: -50vw;
  
  background-image: url("../img/bk6.png");
  /* ← 放你的背景圖 */
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
 display: flex;
        background-size: cover;
        /* 或 contain / 特定尺寸 */
       flex-direction: column;
        background-repeat: no-repeat;

background-color: rgba(110, 110, 110, 0.6);
background-blend-mode: multiply;

  background-size: cover;
  background-position: center center;


  gap: 8px;
  /* background-color: rgb(90, 255, 227);
  
height: 800px;
width: 100%;
*/

  position: relative;
}

a {
  text-decoration: none; /* 預設無底線 */
 gap: 80px;
 margin: 10px 10px;
 

}
a:hover {
  text-decoration: none; /* 懸停時顯示底線 */
}


.button {

 text-decoration: none;
  
  background-color: #ff29ed;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  
  display: inline-block;
  font-size: 20px;
  margin: 0px 0px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button2:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button4:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.button1 {
  border-radius: 2px;
}

.button2 {
  border-radius: 4px;
}

.button3 {
  border-radius: 8px;
}

.button4 {
  border-radius: 8px;
}

.button5 {
  border-radius: 50%;
}

b:hover,
b:active {
  background-color: rgb(235, 104, 17);
  color: white;
}







* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

section {
  margin: 20px 0;
}

ul {
  list-style: none;
}

.wrap {
  margin: 50px;
}

.flex li {
  display: inline-block;
  padding: 20px;
  border: 1px solid #e7e7e7;
  background: #505050;


}




.flex {
  display: inline-block;
}


.no7 .flex li:nth-child(1) {
  align-self: stretch;
}

.no7 .flex li:nth-child(2) {
  align-self: flex-start;
}

.no7 .flex li:nth-child(3) {
  align-self: flex-end;
}

.no7 .flex li:nth-child(4) {
  align-self: center;
}

.no7 .flex li:nth-child(5) {
  align-self: baseline;
}