@charset "utf-8";

/* 卡片格子 */
.card-grid {
  display: grid;
  
  gap: 16px;
  padding: 0px;
  
  margin: 20px;
    align-items: center;
   align-content: center;
   
  grid-template-columns: repeat(4, 1fr);
  
  margin-bottom: 30px;
  object-fit: cover;
      
}

#carda {
  background:  rgb(255, 225, 57);
}
#cardb {
  background:  rgb(198, 198, 198);
}

/* 卡片 */
.card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: 0.25s;
  cursor: pointer;
  overflow: hidden;
  border: solid 0px #8f8f8f;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

/* hover 時放大 */
.card:hover .card-image img {
  transform: scale(1.08);
}

/* ----------- 圖片放大動畫 ----------- */
.card-image {
  width: 100%;
  height: 60%;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 16px;

  border: solid 0px #8f8f8f;
 align-items: center;
   align-content: center;

}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.35s ease;
   align-items: center;
   align-content: center;
}



/* ----------- Tag 標籤 ----------- */
.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.tag {
  font-size: 0.75rem;
  padding: 4px 10px;
  background: #6f6f6f;
  color: #ffffff;
  border-radius: 8px;
  white-space: nowrap;
}

/* ----------- 標題 / 副標 ----------- */
.card h4 {
  font-size: 1.2rem;
  margin: 0 0 6px;
  color: #111;
}

.card p {
  font-size: 0.9rem;
  color: #292929;
  margin: 0;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  color: #777;
  margin: 0;
}