nav {


    background-color: #000000;
    margin-right: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: white;
        width: 500px;
        height: 100px;
        background-image: url("../img/art4.png");
        display: flex;
        background-size: cover;
        /* 或 contain / 特定尺寸 */
        background-position: center;
        background-repeat: no-repeat;
        text-indent: -9999px;



    }




    div.nav {
        margin-right: 20px;
        display: flex;
        

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: rgb(60, 184, 255);
            white-space: nowrap;

            li {
                padding: 5px;
            }
        }

    }
}

li:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.12);
}

/* hover 時放大 */
li:hover .card-image img {
  transform: scale(1.08);
}

.buttonx {

    margin: 20px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-betewwn;
    gap: 4px;
    background-color: rgb(255, 232, 26);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;

    /*position: absolute;*/
    right: 25vw;
    top: 0;
    line-height: 80px;

    /*top: 20px;*/
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;

    margin-right: 20px;
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;
   

}

.bell path {
    fill: rgb(19, 19, 19);
}

.buttonx:hover {
    background-color: rgb(255, 157, 20);
    transition-duration: .5s;
}

.buttonx:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.buttonx:hover .svgIcon {
    transform: rotate(360deg);
    transition-duration: 1.5s;
}