nav {
    padding: 20px 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: white;
    }

    div {
        margin: 3px;
        display: flex;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            color: greenyellow;

            li {
                padding: 5px;
            }
        }

    }
}

.buttonx {
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-betewwn;
    gap: 10px;
    background-color: rgb(161, 255, 20);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;

    /*position: absolute;*/
    right: 25vw;
    top: 0;
    line-height: 80px;

    /*top: 20px;*/
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;

    margin-right: 20px;
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;
}

.bell path {
    fill: rgb(19, 19, 19);
}

.buttonx:hover {
    background-color: rgb(192, 255, 20);
    transition-duration: .5s;
}

.buttonx:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.buttonx:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
}