body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background: #f4efe7;
  color: #222;
}

.container {
  display: flex;
  
  gap: 40px;
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
 
  
}

.left {
  flex: 1;
}

.left h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.type {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}

.desc {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
}

.date {
  font-size: 0.9rem;
  color: #444;
}

.right {
  flex: 2;
}

.hero {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 30px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

.colors {
  display: flex;
  gap: 12px;
}

.swatch {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.buttonx {
 
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-betewwn;
    gap: 4px;
    background-color: rgb(255, 232, 26);
    border-radius: 30px;
    color: rgb(19, 19, 19);
    font-weight: 600;
    border: none;

    /*position: absolute;*/
    right: 25vw;
    top: 0;
    line-height: 80px;

    /*top: 20px;*/
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    padding-left: 8px;
    transition-duration: .5s;

    margin-right: 20px;
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;


}

.bell path {
    fill: rgb(19, 19, 19);
}

.buttonx:hover {
    background-color: rgb(255, 20, 204);
    transition-duration: .5s;
}

.buttonx:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

.buttonx:hover .svgIcon {
    transform: rotate(360deg);
    transition-duration: 1.5s;
}
