  @import url(btn.css);
  /*for test*/
  @import url(nav.css);

  @import url(gridbox.css);

  html,
  body {
    margin: 0;
    padding: 0;
  }

  
  * {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  .footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin: 0;
  }